<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ page.title }}
      •
      {{ site.title }}
    </title>
    {% seo -%}
    {% feed_meta -%}
    <link rel="preload" href="/assets/fonts/InterVariable.woff2" as="font" type="font/woff2" crossorigin>
    {% comment %} <link rel="preload" href="/assets/fonts/InterVariable-Italic.woff2" as="font" type="font/woff2" crossorigin> {% endcomment %}
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body class="prose prose-neutral dark:prose-invert mx-auto flex min-h-screen flex-col bg-white px-4 antialiased md:px-0 dark:bg-neutral-900">
    <header class="mb-8 mt-24 flex items-center">
      <strong class="text-lg tracking-widest">
        <a href="/" class="not-prose">{{ site.title }}</a>
      </strong>
      <div class="ml-auto pb-[0.1875rem]">/</div>
      <nav class="ml-3 flex gap-x-3">
        {%- assign nav_pages = site.pages | where: 'nav', true -%}
        {%- for item in nav_pages %}
          <a
            {% if page.url == item.url -%}
              aria-current="page"
            {% else -%}
              class="no-underline"
            {% endif -%}
            href="{{ item.url | remove: ".html" }}"
          >
            {{ item.title }}
          </a>
        {%- endfor %}
      </nav>
    </header>
    <main class="flex-grow">
      <article class="sm:text-justify">
        {{ content }}
      </article>
    </main>
    <footer class="flex justify-between items-center my-12">
      <small>
        © {{ site.time | date: '%Y' }}
        {{ site.title -}}
      </small>
      <small>
        <a href="/feed.xml" class="flex gap-1 items-center text-inherit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4 mt-[0.1875rem]"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 0 0-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
          </svg>
          RSS
        </a>
      </small>
    </footer>
  </body>
</html>
