<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>
      {{ page.title }}
      •
      {{ site.title }}
    </title>
  </head>
  <body class="prose prose-neutral mx-auto bg-white px-4 antialiased dark:prose-invert md:px-0 dark:bg-neutral-900">
    <header class="mb-8 mt-24 flex items-center">
      <strong class="text-lg tracking-widest">
        <a href="/" class="not-prose">{{ site.title }}</a>
      </strong>
      <div class="ml-auto pb-[0.1875rem]">/</div>
      <nav class="ml-3 flex gap-x-3">
        {%- assign nav_pages = site.pages | where: 'nav', true -%}
        {%- for item in nav_pages %}
          <a
            {% if page.url == item.url -%}
              aria-current="page"
            {% else -%}
              class="no-underline"
            {% endif -%}
            href="{{ item.url | remove: ".html" }}"
          >
            {{ item.title }}
          </a>
        {%- endfor %}
      </nav>
    </header>
    <main>
      <article class="sm:text-justify">
        {{ content }}
      </article>
    </main>
    <footer class="flex"></footer>
  </body>
</html>
